lnr__home = "\e800"
lnr__apartment = "\e801"
lnr__pencil = "\e802"
lnr__magic-wand = "\e803"
lnr__drop = "\e804"
lnr__lighter = "\e805"
lnr__poop = "\e806"
lnr__sun = "\e807"
lnr__moon = "\e808"
lnr__cloud = "\e809"
lnr__cloud-upload = "\e80a"
lnr__cloud-download = "\e80b"
lnr__cloud-sync = "\e80c"
lnr__cloud-check = "\e80d"
lnr__database = "\e80e"
lnr__lock = "\e80f"
lnr__cog = "\e810"
lnr__trash = "\e811"
lnr__dice = "\e812"
lnr__heart = "\e813"
lnr__star = "\e814"
lnr__star-half = "\e815"
lnr__star-empty = "\e816"
lnr__flag = "\e817"
lnr__envelope = "\e818"
lnr__paperclip = "\e819"
lnr__inbox = "\e81a"
lnr__eye = "\e81b"
lnr__printer = "\e81c"
lnr__file-empty = "\e81d"
lnr__file-add = "\e81e"
lnr__enter = "\e81f"
lnr__exit = "\e820"
lnr__graduation-hat = "\e821"
lnr__license = "\e822"
lnr__music-note = "\e823"
lnr__film-play = "\e824"
lnr__camera-video = "\e825"
lnr__camera = "\e826"
lnr__picture = "\e827"
lnr__book = "\e828"
lnr__bookmark = "\e829"
lnr__user = "\e82a"
lnr__users = "\e82b"
lnr__shirt = "\e82c"
lnr__store = "\e82d"
lnr__cart = "\e82e"
lnr__tag = "\e82f"
lnr__phone-handset = "\e830"
lnr__phone = "\e831"
lnr__pushpin = "\e832"
lnr__map-marker = "\e833"
lnr__map = "\e834"
lnr__location = "\e835"
lnr__calendar-full = "\e836"
lnr__keyboard = "\e837"
lnr__spell-check = "\e838"
lnr__screen = "\e839"
lnr__smartphone = "\e83a"
lnr__tablet = "\e83b"
lnr__laptop = "\e83c"
lnr__laptop-phone = "\e83d"
lnr__power-switch = "\e83e"
lnr__bubble = "\e83f"
lnr__heart-pulse = "\e840"
lnr__construction = "\e841"
lnr__pie-chart = "\e842"
lnr__chart-bars = "\e843"
lnr__gift = "\e844"
lnr__diamond = "\e845"
lnr__linearicons = "\e846"
lnr__dinner = "\e847"
lnr__coffee-cup = "\e848"
lnr__leaf = "\e849"
lnr__paw = "\e84a"
lnr__rocket = "\e84b"
lnr__briefcase = "\e84c"
lnr__bus = "\e84d"
lnr__car = "\e84e"
lnr__train = "\e84f"
lnr__bicycle = "\e850"
lnr__wheelchair = "\e851"
lnr__select = "\e852"
lnr__earth = "\e853"
lnr__smile = "\e854"
lnr__sad = "\e855"
lnr__neutral = "\e856"
lnr__mustache = "\e857"
lnr__alarm = "\e858"
lnr__bullhorn = "\e859"
lnr__volume-high = "\e85a"
lnr__volume-medium = "\e85b"
lnr__volume-low = "\e85c"
lnr__volume = "\e85d"
lnr__mic = "\e85e"
lnr__hourglass = "\e85f"
lnr__undo = "\e860"
lnr__redo = "\e861"
lnr__sync = "\e862"
lnr__history = "\e863"
lnr__clock = "\e864"
lnr__download = "\e865"
lnr__upload = "\e866"
lnr__enter-down = "\e867"
lnr__exit-up = "\e868"
lnr__bug = "\e869"
lnr__code = "\e86a"
lnr__link = "\e86b"
lnr__unlink = "\e86c"
lnr__thumbs-up = "\e86d"
lnr__thumbs-down = "\e86e"
lnr__magnifier = "\e86f"
lnr__cross = "\e870"
lnr__menu = "\e871"
lnr__list = "\e872"
lnr__chevron-up = "\e873"
lnr__chevron-down = "\e874"
lnr__chevron-left = "\e875"
lnr__chevron-right = "\e876"
lnr__arrow-up = "\e877"
lnr__arrow-down = "\e878"
lnr__arrow-left = "\e879"
lnr__arrow-right = "\e87a"
lnr__move = "\e87b"
lnr__warning = "\e87c"
lnr__question-circle = "\e87d"
lnr__menu-circle = "\e87e"
lnr__checkmark-circle = "\e87f"
lnr__cross-circle = "\e880"
lnr__plus-circle = "\e881"
lnr__circle-minus = "\e882"
lnr__arrow-up-circle = "\e883"
lnr__arrow-down-circle = "\e884"
lnr__arrow-left-circle = "\e885"
lnr__arrow-right-circle = "\e886"
lnr__chevron-up-circle = "\e887"
lnr__chevron-down-circle = "\e888"
lnr__chevron-left-circle = "\e889"
lnr__chevron-right-circle = "\e88a"
lnr__crop = "\e88b"
lnr__frame-expand = "\e88c"
lnr__frame-contract = "\e88d"
lnr__layers = "\e88e"
lnr__funnel = "\e88f"
lnr__text-format = "\e890"
lnr__text-format-remove = "\e891"
lnr__text-size = "\e892"
lnr__bold = "\e893"
lnr__italic = "\e894"
lnr__underline = "\e895"
lnr__strikethrough = "\e896"
lnr__highlight = "\e897"
lnr__text-align-left = "\e898"
lnr__text-align-center = "\e899"
lnr__text-align-right = "\e89a"
lnr__text-align-justify = "\e89b"
lnr__line-spacing = "\e89c"
lnr__indent-increase = "\e89d"
lnr__indent-decrease = "\e89e"
lnr__pilcrow = "\e89f"
lnr__direction-ltr = "\e8a0"
lnr__direction-rtl = "\e8a1"
lnr__page-break = "\e8a2"
lnr__sort-alpha-asc = "\e8a3"
lnr__sort-amount-asc = "\e8a4"
lnr__hand = "\e8a5"
lnr__pointer-up = "\e8a6"
lnr__pointer-right = "\e8a7"
lnr__pointer-down = "\e8a8"
lnr__pointer-left = "\e8a9"


lnr(codeName)
	font-family: 'Linearicons-Free';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	content lookup('lnr__' + codeName)