html,
body 
	display flex
	width 100%

html 
	font-family 'Roboto', Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif
	font-size 16px
	line-height 1
	height 100%
	cursor default
	user-select none
	body
		font inherit

*::-webkit-scrollbar
	width: 16px;
	height: 16px;

*::-webkit-scrollbar-track
	background: transparent;

*::-webkit-scrollbar-thumb
	background: #777;

*::-webkit-scrollbar-thumb:hover
	background: #555; 

body 
	min-height 100%

[id="root"]
	width 100%
	display flex
	> *
		width 100%