doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
		
		<link rel="stylesheet" href="fonts/Roboto/index.css">
		<link rel="stylesheet" href="libs/Materialize/materialize.min.css">
	body
		#root

		<script src="libs/Materialize/materialize.min.js"></script>