.ant-input-group,
form :not(.ant-input-group-wrapper) > .ant-input-group,
form .ant-input-group-wrapper
	display flex

[class*="ant-col-"] .ant-form-item-control
	display flex
	align-items center
	min-height 39.9999px
	width 100%
	> *
		flex-grow 1

.ant-input-group-compact
	.has-error &
		.ant-input
			border-right-width 1px
	& > .ant-btn
		&:first-child:not(:last-child)
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		&:last-child:not(:first-child)
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		&:hover,
		&:focus,
		&:active
			z-index 1
			border-right-width 1px

.ant-input-group
	> .ant-form-item
		display flex
		align-items flex-start
		margin 0
		flex-grow 1
		> *
			flex-grow 1

.ant-input-group-delimiter
	display inline-block
	vertical-align middle
	width 8px
	height 8px
	flex-grow 0
	flex-shrink 0

.ant-form-item
	&:last-child:first-child
		margin-bottom 0